@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url(assets/fonts/SourceSansPro.ttf) format('truetype');
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .container {
    display: flex;
  }
  
  .horizontally-scrolled-items {
    display: flex;
    width: 100%;
    background: lightblue;
    overflow-x: scroll;
  }
  .item {
    min-width: 400px;
    flex-grow: 1;
    border: 1px solid blue;
  }